.userFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
.userItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.userAvatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
}
.followBtn {
    width: 100px;
    padding: 5px 0;
    background: #00acba ;
    color: whitesmoke;
    outline: none;
    border: none;
    font-family: Arial;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}

.followBtn:hover {
    background: #00acba;
}
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 0 5px;
    background: rgb(209, 209, 209);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.429);
    color: rgb(73, 73, 73);
    font-size: 24px;
}
.userLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    height: 100px;
    padding: 10px;
    margin: 0 5px;
    background: rgb(209, 209, 209);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.429);
    color: rgb(73, 73, 73);
    font-size: 18px;
}
.paginateBlock {
    width: fit-content;
    margin: 10px auto;
}

.paginateBtn {
    width: 50px;
    height: 50px;
    font-size: 16px;
    background: #fff;
    border: 2px solid #00acba ;
    text-align: center;
    outline: none;
    margin: 2.5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.currentPage {
    font-weight: bold;
    background: #00acba ;
    color: #fff;
}
.paginateBtn:not(.currentPage):hover {
    background: #00acba ;
    color: #fff;
}