.header {
    display: block;
    padding: 5px 30px;
  
    grid-area: header;
    background: #29cce5;
    border-radius: 0 0 50px 50px;
}

.logo {
    display: block;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}  